body {
    font-family: 'Optima', 'Droid Serif';
    font-size: 30px;
}

h1,
h2,
h3 {
    font-family: 'Futura', 'Yanone Kaffeesatz';
    font-weight: normal;
}

.title {
    vertical-align: middle;
    text-align: center;
    background-color: #353639;
    color: #FEFEFE;
}

.remark-code,
.remark-inline-code {
    font-family: 'Input Mono', 'Ubuntu Mono';
}

.remark-slide-content {
    font-size: 40px;
    background-size: contain;
}

img.center {
    display: block;
    margin: 0 auto;
}

img.left {
    display: block;
    margin: 0 auto;
}


img {
    display: block;
    margin: auto;
}

.column:first-of-type {float:left}
.column:last-of-type {float:right}

.split-40 .column:first-of-type {width: 40%}
.split-40 .column:last-of-type {width: 60%}

@page {
    size: 1210px 681px;
    margin: 0;
}

@media print {
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
}
